<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<h1>home page</h1>
<a href="/authors">authors page</a>
<a href="/book">books page</a>

</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<h1>home page</h1>
<a href="/authors">authors page</a>
<a href="/book">books page</a>

</body>
>>>>>>> 8a838129e851045d90b0cb3f189900a3228d25f3
</html>